# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Coverage
.coverage
coverage.xml
htmlcov/

# Virtual Environment
venv/
env/
ENV/
.venv


# IDE
.idea/
.vscode/
*.swp
*.swo

# Test cache
.pytest_cache/
.ruff_cache/
.mypy_cache/
logs
